<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script onload="console.log('data table loaded')" type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.js"></script>


</head>
<body>
<div class="container">
    <form  role="form">
        <div class="form-group">
            <div class="row ">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="startDate">from</label>
                        <input type="text" name="startDate" id="startDate" class="form-control data" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="endDate">to</label>
                        <input type="text" name="endDate" id="endDate" class="form-control data" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="state">Статус</label>
                        <select name="state" id="state"
                            select class="form-control data">
                          <option value="all">Все</option>
                          <option value="new">Новый</option>
                          <option value="on_operate">В работе</option>
                          <option value="accepted">Подтвержден</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="phone">phone</label>
                        <input type="text" name="phone" id="phone"  class="form-control data">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="good">good</label>
                        <input type="text" name="good" id="good"  class="form-control data">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id">id</label>
                        <input type="text" name="id" id="id"  class="form-control data">
                    </div>
                </div>
            </div>
            <div class="input-group col-md-2">
                <button id="send"  type="button" class="btn btn-primary">Показать</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-11">
            <table id="ordersTable" class="display" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Дата</th>
                        <th>Клиент</th>
                        <th>Телефон</th>
                        <th>Товар</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <!--Body for datatable-->
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>